body {
background-color: rgb(247, 212, 217);
}

h1 {
    font-family: Georgia, Garamond,serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: darkred;
}

img {
    height: 400px;
    width: auto;
}

li,
a {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 18px;
}

h2 {
    font-family: Georgia, Garamond, serif;
    font-size: 30px;
    text-align: center;
    color: darkred;
}

p {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 18px;
}