body {
background-color: rgb(247, 212, 217);
}

h1 {
    background-color: rgb(247, 228, 228);
    display: block;
    margin: 50px 300px;
    padding: 30px 8px;
    font-family: Georgia, Garamond,serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: darkred;
}

img {
    display: block;
    margin:auto;
    height: 400px;
    width: auto;
}

li,
a {
    background-color: darkred;
    display: inline-block;
    margin: 20px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(247, 212, 217);
}

ul {
    text-align: center;
}